# Configuration file for HeaderDoc
# $Revision: 1348608411 $
###########################################################

# These options set various parameters used in content generation.
copyrightOwner =>
defaultFrameName => index.html
masterTOCName => masterTOC.html

# This controls the unique ID prefix used at the start of API references.
# Use this to control the API UID of generated refs.  If you need to
# support linking to documents with multiple API UID prefixes, define
# the externalAPIUIDPrefixes variable with a space-separaed list of
# valid prefixes.
apiUIDPrefix => apple_ref

# This is a legacy way of ignoring junk at the start of a line.
# The current preferred mechanism is to define it out of existence
# with C preprocessor macros.
ignorePrefixes =>

# To include information at the top or bottom of every page,
# either include a string in htmlHeader/htmlFooter or a filename
# in htmlHeaderFile or htmlFooterFile
htmlHeader => 
htmlHeaderFile =>
htmlFooter => 
htmlFooterFile =>

# Tells HeaderDoc to suppress the default <style> content in a couple of places.
suppressDefaultStyles => 0

# Tells HeaderDoc to not include JavaScript bits used for the table of contents and
# linking support.  Normally, you would only set this to 1 if you intend to replace
# those scripts with a single, site-wide copy to reduce bandwidth.
suppressDefaultJavaScript => 0

# Sets the format of the table of contents.
#     default: Use the new-style layout (table).
#     frames: Use old-style frames (equivalent to -F).
#     iframes: Use the old-style iframes (equivalent to HeaderDoc in 10.6).
TOCFormat => default

# Tells HeaderDoc to strip the .h off of the ends of header names in the
# master TOC generated by gatherHeaderDoc.
stripDotH => 1

# The TOC template file list can contain multiple template files, separated by spaces, e.g.
# TOCTemplateFile => toctemplate.html functions.tmpl constants.tmpl datatypes.tmpl mpindex.tmpl

TOCTemplateFile => com.apple.headerdoc.exampletocteplate.html

# The date format is specified in the same format as strftime.  See the
# man page for strftime for more info.
dateFormat => %A, %B %d, %Y

# You can include additional stylesheet bits with any of the following:
# styleSheetExtrasFile =>
# externalStyleSheets => /Resources/CSS/frameset_styles.css
# externalTOCStyleSheets => /Resources/CSS/frameset_styles.css
# styleImports => @import "/Resources/CSS/frameset_styles.css";
# tocStyleImports => @import "/Resources/CSS/frameset_styles.css";
# tocStyleImports => @import "/Resources/CSS/adcstyle.css";

# These are CSS Styles for various bits of code declarations.
textStyle =>
commentStyle => background:#ffffff; color:#236e25
preprocessorStyle => background:#ffffff; color:#236e25
funcNameStyle => background:#ffffff; color:#000000;
stringStyle => background: #ffffff; color:#891315;
charStyle => background: #ffffff; color:#0000ff;
numberStyle => background: #ffffff; color:#0000ff;
keywordStyle => background:#ffffff; color:#761550;
typeStyle => background:#ffffff; color:#761550;
paramStyle => background:#ffffff; color:#000000;
varStyle => background:#ffffff; color:#000000;
templateStyle => background:#ffffff; color:#761550;

# These control the automatic generation of hierarchical jump links in large
# index pages.  You can set these limits higher or lower as desired.
groupHierLimit => 100
groupHierSubgroupLimit => 30

# To use a different C compiler other than the stock cc for calculating values
# of #define macro chains, specify the alternative compiler here.
cCompiler => /usr/bin/cc

